{% extends "account/base.html" %}
{% block content %}
    <h2>ورود</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">ورود</button>
    </form>

    <p>حساب کاربری ندارید؟
        <a href="{% url 'account:signup' %}">ثبت‌نام</a>
    </p>
    <p>رمز عبور را فراموش کرده‌اید؟
        <a href="{% url 'account:password_reset_request' %}">بازیابی رمز</a>
    </p>
    <p>ورود با کد یکبار مصرف:
        <a href="{% url 'account:request_otp' %}">دریافت کد</a>
    </p>
{% endblock %}
